

<%- include('partials/head.ejs') %>


    <%- include('partials/nav.ejs') %>
    <div class="container"></div>
    <div class="submitParent">
        <div class="liD"><h3 class="liT">Log inn</h3></div>
        <div class="liD"><input class="liU" type="text" placeholder="Username"></div>
        <div class="liD"><input class="liP" type="password" placeholder="Passord"></div>
        <div class="liBD"><button class="liB">LogInn</button></div>
    </div>

    <script src="./db.js" defer></script>

<%- include('partials/end.ejs') %>