.container{
  display: grid;
}

/* body{
  background: rgb(255,255,255);
  background: linear-gradient(175deg, rgba(255,255,255,1) 2%, rgba(231,208,218,1) 40%, rgba(194,134,159,1) 75%, rgba(178,102,133,1) 88%, rgba(172,90,124,1) 94%, rgba(169,84,119,1) 97%, rgba(154,54,95,1) 100%);
} */

.gridItem{
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
}

.itemBox{
  align-items:center;
  display: grid;
  justify-content: center;
  align-items: center; 
  padding-bottom: 4fr;
  border-radius: 0%;
  border-color: transparent;
  background-color: transparent;
}

.boxcont{
  display:block;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.itemFrame{
  padding: 3%;
  background-color: #72727258;
  color: black;
  margin: 10%;
}

.iButton{
  border: transparent;
  background-color: transparent;
}

.nav{
  color: black;
  width: 100%;
}

.liInput{
  height: 40px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  border: transparent;
  margin: 1%;
  display: grid;
  align-self: center;
}

.l5{
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.iImg {
  text-align: center;
} 

.submitParent{

}


.liT{
  margin-top: 5vw;
  margin-left: 10px;
}

.liP{
  text-align: center;
  margin-top: 0.5vw;
  height: 30px;
  width: 90px;
}

.liU{
  text-align: center;
  margin-top: 1vw;
  height: 30px;
  width: 90px;
}

.liD{
  margin-left:10vw ;
}

.liBD{
  margin-left: 11vw;
  margin-top: 1vw;
;
}

.liB{
  width: 70px;
  height: 40px;
}

.addshoespage {  display: grid;
  grid-template-columns: 0.6fr 2fr 0.5fr;
  grid-template-rows: 0.4fr 1.9fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    ". addShoes ."
    "footer footer footer";
}

.nav { grid-area: nav; }

.addShoes { grid-area: addShoes; }

.footer { grid-area: footer; }
